/*////////////////////////////////////////////////////////////////////////
//grijs #899CA0 en donkergroen #1C2B32
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*    1. Global Styles*/
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border:0;
    font:inherit;
    vertical-align: baseline;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
input, button {
    font-family:inherit;

}
/*    2. Typography*/



/*    3. Areas*/

/*3.1 Header*/


header {
    height:70%;
    width: 100vw;
    background-image: url('/assets/images/mountains.jpg');
    background-size: auto 150%;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}

.header-section h1 {
    font-size: 80px;
    font-weight: bold;
    color: #1C2B32;
    padding: 20px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.header-section p {
    font-size: 1em;
    color: #1C2B32;
    margin-bottom: 2em;

}
.header-section input[type="text"] {
    flex: 1 1 auto;
    min-width: 100px;
    padding: 20px 60px;
    border: 1px solid #ccc;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 10px;
}
.header-section button {
    flex: 1 1 auto;
    padding: 20px 20px;
    border: 1px solid;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -1px;
    font-size: 10px;
    background-color: #1C2B32;
    color: white;
}
.header-section button:hover {
    background-color: #ccc;
}
.main-section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}
h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
}
/*3.2 Testimonals*/

.testimonials-section {
    padding: 30px;
    text-align: center;
}
.testimonial-box {
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
blockquote {
    display: block;
    margin-top: 30px;
    font-style: normal;
    color: black;
}
blockquote cite {
    display: block;
    font-style: italic;
}


/*3.3 Support*/
.support-section {

.image-container {
    max-width: 800px;
    text-align: center;
}

}
.button-section button {
    background-color: #1C2B32;
    color:white;
    padding: 15px 30px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 50px;
    font-size: 15px;
    transition: background-color 0.3s;
}
.button-section button:hover {
    background-color: #899CA0;
}


/*3.4 Faq*/


.faq-section {
    text-align: left;
    margin: 40px;
    max-width: 1000px;
    padding: 40px;
}


/*3.5 Footer*/
.footer-section {
    width: 100%;
    background-color: #1C2B32;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
}